* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #005f99;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

.chart-container {
  width: 80%;
  margin: 2rem auto;
}

#view-data {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #005f99;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

footer {
  background-color: #005f99;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #005f99;
  color: white;
}

td {
  background-color: #f9f9f9;
}

td:nth-child(even) {
  background-color: #f1f1f1;
}