* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #005f99;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-height: 100px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

main h1 {
  margin-bottom: 1rem;
}

main p {
  margin-bottom: 1rem;
}

.chart-container {
  width: 80%;
  margin: 2rem auto;
}

#view-data {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #005f99;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

footer {
  background-color: #005f99;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #005f99;
  color: white;
}

td {
  background-color: #f9f9f9;
}

td:nth-child(even) {
  background-color: #f1f1f1;
}

/* Contenitore principale */
.container {
  display: flex;
}

/* Menu laterale */
.sidebar {
  width: 250px;
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Ombra laterale */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  /* Spazio tra i link */
}

.sidebar ul li a {
  color: #005f99;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  /* Per permettere una comoda interazione */
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar ul li a:hover {
  background-color: #f1f1f1;
  /* Sfondo chiaro al passaggio del mouse */
  color: #003c6e;
  /* Colore del testo più scuro */
}

.sidebar ul li a:active {
  background-color: #ddd;
  /* Colore ancora più scuro quando cliccato */
}

/* Aggiungere spazio tra il menu laterale e il contenuto */
main {
  flex-grow: 1;
  padding-left: 20px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.section-header h1 {
  font-size: 2rem;
  margin: 0;
}

.help-icon {
  font-size: 1.5rem;
  color: #005f99;
  text-decoration: none;
  margin-left: 1rem;
  transition: transform 0.2s, color 0.2s;
}

.help-icon:hover {
  transform: scale(1.2);
  color: #003c6e;
}